<!DOCTYPE html>
<html>
<head>
    <title>指板を表示する</title>
    <link rel="stylesheet" href="./reset_css.css" type="text/css" />
    <link rel="stylesheet" href="./finger_bord.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="container">
        <header class="title">
            <h1>指板プロット作成ツール</h1>
        </header>
        <section class="main">
            <div class="FP-section">
                <div class="FB-section">
                    <div class="left-items">
                        <button>弦の数</button>
                        <button>色</button>
                        <button>画像として保存</button>
                    </div>
                    <div class="right-items">
                        <button>-</button>
                        <button>+</button>
                    </div>
                </div>
                <div class="FP-field">
                    <div class="fingerprint-wrapper">
                        <div class="finger-plot">
                            <finger-plots
                                v-for="numberOfString in numberOfStrings"
                                v-bind:plot-map="plotMap"
                                v-bind:on-click-plot="onClickPlot"
                                v-bind:key="numberOfString.key"
                            >
                            </finger-plots>
                        </div>
        
                        <div class="fingerprint">
                            <finger-prints
                                v-for="numberOfCourse in numberOfCourses"
                                v-bind:position="numberOfCourse.position"
                                v-bind:has-string="numberOfCourse.hasString"
                                v-bind:key="numberOfCourse.key"
                            >
                            </finger-prints>
                        </div>
                    </div>
            </div>
        </section>
        <footer>
            <p>&copy;kawausomando.com</p>
        </footer>
    </div>


    <script>
        Vue.component('finger-plots', {
            props: ['plotMap', 'onClickPlot'],
            template: 
                `<div class="string-course">
                    <plot
                        v-for="plot in plotMap"
                        v-bind:display="plot.display"
                        v-bind:key="plot.key"
                        v-bind:on-click-plot="onClickPlot"
                    ></plot>
                </div>`
        });
        Vue.component('plot', {
            props: ['display', 'onClickPlot'],
            template: '<div class="plot hide" v-on:click="onClickPlot"></div>'
        });
        Vue.component('finger-prints', {
            props: {
                hasString: Boolean,
                position: String
            },
            data: function() {
                hasStringClass = (this.hasString) ? 'has-string' : '';
                return {
                    hasStringClass: hasStringClass
                };
            },
            template: 
                `<div :class="'string-course ' + position">
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                    <div :class="'string-course-block ' + hasStringClass"></div>
                </div>`
        });

        var app = new Vue({
            el: "#app",
            data: {
                numberOfStrings: [
                    {},
                    {},
                    {},
                    {}
                ],
                plotMap: [
                    {display: 'hide'},
                    {display: 'hide'},
                    {display: 'hide'},
                    {display: 'hide'},
                    {display: 'hide'},
                    {display: 'hide'},
                    {display: 'hide'}
                ],
                numberOfCourses: [
                    {hasString: true, position: 'top'},
                    {hasString: true, position: ''},
                    {hasString: true, position: ''},
                    {hasString: true, position: ''},
                    {hasString: false, position: 'bottom'},
                ]
            },
            methods: {
                onClickPlot: function(event) {
                    debugger;
                    this.plotMap[0].display = 'show';
                }
            }
        })
    </script>
</body>

</html>
