<!DOCTYPE html>
<html>
<head>
    <title>指板を表示する</title>
    <link rel="stylesheet" href="./reset_css.css" type="text/css" />
    <link rel="stylesheet" href="./finger_bord.css" type="text/css" />
    <link rel="shortcut icon" href="./favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/index.js"></script>
</head>

<body onload="document_onload()">
    <div id="app" class="container">
        <header class="title">
            <h1>指板プロット作成ツール</h1>
        </header>
        <section class="main">
            <div class="FP-section">
                <div class="FB-section">
                    <div class="left-items">
                        <!-- <button>弦の数</button> -->
                        <select-mode v-model="mode"></select-mode>
                        <color-picker v-model="plotColor"></color-picker>
                        <!-- <button>画像として保存</button> -->
                    </div>
                    <div class="right-items">
                        <!-- <button>-</button> -->
                        <!-- <button>+</button> -->
                    </div>
                </div>
                <div class="FP-field">
                    <div class="fingerprint-wrapper">
                        <div class="finger-plot">
                            <finger-plots
                                v-for="numberOfString in numberOfStrings"
                                v-bind:plot-map="numberOfString.plotMap"
                                v-bind:on-click-plot="onClickPlot"
                                v-bind:key="numberOfString.key"
                            >
                            </finger-plots>
                        </div>
                        <div class="fingerprint">
                            <finger-prints
                                v-for="numberOfCourse in numberOfCourses"
                                v-bind:position="numberOfCourse.position"
                                v-bind:has-string="numberOfCourse.hasString"
                                v-bind:key="numberOfCourse.key"
                            >
                            </finger-prints>
                        </div>
                    </div>
            </div>
        </section>
        <footer>
            <p>&copy;kawausomando.com</p>
        </footer>
    </div>
</body>

</html>
